* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --player1: gray;
  --player2: orange;
  --player3: hsl(229, 66%, 50%);
  --player4: yellow;
  --player5: green;
  --player6: red;
  --player7: purple;
  --player8: rgb(97, 55, 55);
}

html {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: hsl(220, 25%, 95%);
}

h1 {
  text-align: center;
  font-size: 4vw;
  margin: 2.5vw;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 400;

  flex-basis: 15vw;
}

.players_container {
  display: flex;
  flex-direction: column;

  margin: 0 1vw;
}

.player {
  background-color: white;

  margin-bottom: 1.2vw;

  border-radius: 1.7vw;
  padding: 1vw 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;

  box-shadow: 0.2vw 0.2vw 0.3vw 0.1vw rgba(0, 0, 0, 0.09);

  border-style: solid;
  border-width: 0.23vw;
}

.player1 {
  border-color: var(--player1);
}

.player2 {
  border-color: var(--player2);
}

.player3 {
  border-color: var(--player3);
}

.player4 {
  border-color: var(--player4);
}

.player5 {
  border-color: var(--player5);
}

.player6 {
  border-color: var(--player6);
}

.player7 {
  border-color: var(--player7);
}

.player8 {
  border-color: var(--player8);
}

.bubble_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 0.5vw;
}

.score_bubble {
  height: 2.5vi;
  width: 2.5vi;
  border: 0.1vw rgb(20, 20, 20) solid;
  border-radius: 100%;
}

.score_bubble:nth-child(5n) {
  border: 0.25vw solid rgb(50, 50, 50);
  position: relative;
  display: flex;
}

.score_bubble:nth-child(5n)::after {
  content: '5';
  font-size: 1.2vw;
  display: block;
  width: 100%;
  text-align: center;
  align-self: center;
}

.score_bubble:nth-child(10)::after {
  content: '10';
}

.score_bubble:nth-child(15)::after {
  content: '15';
}

.score_bubble:nth-child(20)::after {
  content: '20';
}

.score_bubble:nth-child(25)::after {
  content: '25';
}

.player1 .active {
  background-color: var(--player1);
}

.player2 .active {
  background-color: var(--player2);
}

.player3 .active {
  background-color: var(--player3);
}

.player4 .active {
  background-color: var(--player4);
}

.player5 .active {
  background-color: var(--player5);
}

.player6 .active {
  background-color: var(--player6);
}

.player7 .active {
  background-color: var(--player7);
}

.player8 .active {
  background-color: var(--player8);
}

.score_number {
  display: none;
}

/* @media (width: 500px) {
  .bubble_container {
    display: none;
  }
  h2 {
    font-size: 4vw;
  }
  .score_number {
    display: block;
  }
} */
